* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #808080;
}
#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
}
#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;;
    background-color: violet;
    color: var(--white);
    width: 100%;
    padding: 10px 10px;
    border: 3px solid rgb(181, 166, 79);
}
.nav-link {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: end;
    a {
        text-decoration: none;
        color: var(--white);
        flex-direction: column;
        font-size: clamp(3rem, 2vw, 16px);
        padding: 5px 5px;
        gap: 5px;
    }
}
.logo-box {
    display: flex;
    position: relative;
    left: 100px;
}
.logo--text {
    position: absolute;
    font-size :clamp(4rem,3vw, 16px);
    font-weight: bold;
    left:29px;
    top:55px;
    color:rgb(181, 166, 79);
    text-shadow: violet;
}
#img-header { 
    display: block;
    background-image: cover;
    width: 200px;
    height: 200px;
    object-fit:cover;
    border-radius: 50%;
}
#img-hero {
    display: block;
    width: 100%;
    height: 400px;
    background-image: url(pincel-de-maquillaje-con-polvo-de-polvo-purpura-sobre-fondo-oscuro.jpg);
    background-size: cover;
    object-fit:cover;
    border: 3px solid rgb(181, 166, 79);
}
.page {
    position: absolute;
    bottom: 100px;
    color: rgb(181, 166, 79);
    padding-left: 30px;
    }
    p {
     position: absolute;
     color:rgb(181, 166, 79);
     bottom: 10px;
     padding-left: 30px;
    }
    #min {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    border: 3px solid rgb(181, 166, 79);
    }
    .container-one {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }
   .bocka-tid {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: rgb(181, 166, 79);
}
   h1 {
        padding: 10px;
        color: rgb(181, 166, 79);
    }
    button {
        border: none;
        width: 150px;
        height: 100px;
        color: rgb(181, 166, 79);
    }
   .img1 {
    width: 50%;
    display: flex;
    justify-content: start;
   }
   #img-1 {
    display: block;
    object-fit: cover;
    width: 50%;
   }
   .container2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid rgb(181, 166, 79);
   }
   .buy {
   width: 50%;
   }
   .img-buy {
   width: 50%;
   }
   #second-img {
    display: block;
    object-fit: cover;
    width: 50%;
   }
   #footer {
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    background-color: violet;
    color: var(--white);
    font-size: larger;
   }


   